.form{
    display:grid;
    padding: 30px;
    gap: 5px;
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    /* border: 2px solid blue; */
    border-radius: 20px;
    box-sizing: content-box;
    box-shadow: 2px 2px 10px grey;
}


.title{
    text-align: center;
}